/* Database Management Systems
** PHP Exercise
** 11/25/2019
**
** Kaleb Gebrekirstos, Nick Smith, Justin Wagner
**
** CSS stylesheet for styling our elements
**
*/

form {
    width: 300px;
}
input {
    width: 100%;
}
textarea {
    size: A3;
    resize: none;
}
select {
    width: 100%;
}
fieldset {
    overflow: hidden;
}
.radio-class{
    float: left;
    clear: none;
}
label {
    float: left;
    clear: none;
    display: block;
    padding: 2px 1em 0 0;
}
input[type=radio], input.radio {
    float: left;
    clear: none;
    margin: 2px 1em 0 0;
}
input, textarea {
    outline: none;
    border: 1px solid #ddd;
}
input:focus, textarea:focus {
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.5);
    border: 1px solid rgba(255, 0, 0, 0.5);
}
::placeholder {
    color: rgba(255, 63, 31, 0.42);
    opacity: 1;
}
/* support for Internet Explorer */
:-ms-input-placeholder {
    color: red;
}
/* support for Microsoft Edge */
::-ms-input-placeholder {
    color: red;
    opacity: 1;
}